.head-big-text{
font-size: 56px;
line-height: 66px;
}

.head-low-text{
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
}

.body-low-text{
    font-size: 23px;
    line-height: 27px;
letter-spacing: 2.0999999046325684px;
text-align: center;
}

.body-hight-text{
font-size: 37px;
line-height: 54px;
letter-spacing: -0.4625000059604645px;
text-align: center;
}

.sq-hight-text{
font-size: 24px;
line-height: 37px;
letter-spacing: 0px;
text-align: left;
}

.news-col-text{
font-size: 16px;
line-height: 19px;
letter-spacing: 0px;
text-align: left;
}
.news-main-text{
font-size: 22px;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
}

.but-text{
    height: 40px;
width: 138px;
left: 34px;
top: 12px;
border-radius: nullpx;
}

.cards-sq-text{
font-size: 27px;
line-height: 32px;
letter-spacing: 0px;
text-align: center;
}

.cards-sq-lower-text{
font-size: 18px;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
}

.cards-sq-middle-text{
    font-size: 16px;
line-height: 28px;
letter-spacing: 0.444444px;
}

.country-high-text{
font-size: 25px;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
}

.puple-low-text{
font-size: 18px;
line-height: 31px;
letter-spacing: 0px;
text-align: left;
}

.bottom-text{
font-size: 18px;
line-height: 49px;
letter-spacing: 0px;
text-align: left;
}

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 0.543s linear;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
    }
    
    .preloader__row {
    position: relative;
    top: 50%;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    }
    
    
    .loaded_hiding .preloader {
    transition: 0.534s opacity;
    opacity: 1;
    }
    
    .loaded .preloader {
    display: none;
    }
